<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ entry.subtitle }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">von {{ entry.username }} am {{ entry.createdAt|date('d.m.Y H:i:s') }}</h6>        
        <p class="card-text">{{ entry.body }}</p>        
    </div>
</div>