{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
.container{
    width: 580px;
}
#gaeste_buch{
    width: 350px;
}   
</style>

<div class="container">
<h1>Gästebuch</h1>
{% include 'messages.html.twig' %}
{{ form(gaesteBuchForm) }}
  
{% for entry in entries %}
{% include 'main/entry.html.twig' %}
{% endfor %}        

{% include 'main/pagination.html.twig' %}
</div>
{% endblock %}
